Perform the following steps
1. Understand the dataset
    a. Identify the shape of the dataset
    b. Set appropriate indices required for analyzing
2. EDA (Exploratory Data Analysis) of the dataset
    a. Check for missing values
    b. Identify skewness and distribution
3. Analysis
    a. Provide the overview of the data ( best and worst drug in terms of sales and units sold)
    b. Weekly Analysis ( best and worst drugs sold in terms of sales and units sold)
    c. Overall trend of how the drugs performed over the week
    d. Support the following with data and graphs

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style('darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv('datasets/pivot.csv')
df.head()

,Date,Drug1,Drug2,Drug3,Drug4,Drug5,Drug6,Drug7,Drug8,Drug1_Sales,Drug2_Sales,Drug3_Sales,Drug4_Sales,Drug5_Sales,Drug6_Sales,Drug7_Sales,Drug8_Sales
0,2019-09-01,2.00,4.360,5.00,17.000,8.2,1.0,5.0,4.0,2000.0,3488.0,7500.0,10200.0,4510.0,10000.0,2250.0,3600.0
1,2019-09-02,5.33,2.087,2.50,18.000,7.0,0.0,1.0,9.0,5330.0,1669.6,3750.0,10800.0,3850.0,0.0,450.0,8100.0
2,2019-09-03,9.36,2.350,3.10,12.125,8.0,3.0,1.0,2.0,9360.0,1880.0,4650.0,7275.0,4400.0,30000.0,450.0,1800.0
3,2019-09-04,2.00,0.373,2.15,29.230,7.0,0.0,3.0,3.0,2000.0,298.4,3225.0,17538.0,3850.0,0.0,1350.0,2700.0
4,2019-09-05,7.00,9.530,2.00,14.000,1.0,0.0,1.0,8.0,7000.0,7624.0,3000.0,8400.0,550.0,0.0,450.0,7200.0

In [18]:
df.tail()

,Date,Drug1,Drug2,Drug3,Drug4,Drug5,Drug6,Drug7,Drug8,Drug1_Sales,Drug2_Sales,Drug3_Sales,Drug4_Sales,Drug5_Sales,Drug6_Sales,Drug7_Sales,Drug8_Sales
25,2019-09-26,5.50,3.033,2.0,31.0,13.0,0.0,31.0,0.0,5500.0,2426.4,3000.0,18600.0,7150.0,0.0,13950.0,0.0
26,2019-09-27,4.66,4.359,4.0,41.1,4.0,0.0,2.0,4.0,4660.0,3487.2,6000.0,24660.0,2200.0,0.0,900.0,3600.0
27,2019-09-28,7.00,1.680,4.1,48.0,6.2,0.0,1.0,3.0,7000.0,1344.0,6150.0,28800.0,3410.0,0.0,450.0,2700.0
28,2019-09-29,3.51,3.867,3.0,67.8,6.0,0.0,3.0,2.1,3510.0,3093.6,4500.0,40680.0,3300.0,0.0,1350.0,1890.0
29,2019-09-30,2.00,1.439,2.1,49.4,9.0,0.0,5.0,2.0,2000.0,1151.2,3150.0,29640.0,4950.0,0.0,2250.0,1800.0

In [19]:
df.shape

(30, 17)

In [20]:
print(df.dtypes)

Date            object
Drug1          float64
Drug2          float64
Drug3          float64
Drug4          float64
Drug5          float64
Drug6          float64
Drug7          float64
Drug8          float64
Drug1_Sales    float64
Drug2_Sales    float64
Drug3_Sales    float64
Drug4_Sales    float64
Drug5_Sales    float64
Drug6_Sales    float64
Drug7_Sales    float64
Drug8_Sales    float64
dtype: object

In [21]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index(['Date'], inplace = True)
print(df.index.dtype)

datetime64[ns]